{% extends "base.html" %}
{% load static %}

{% block title %}Acceuil admin{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{% static 'dashboard/style.css' %}">
    <link rel="stylesheet" href="{% static 'admin_panel/style.css' %}">
{% endblock %}

{% block content %}



<div class="parent">
    <div class="navbar-admin">
        <div class="navbar-admin-tabs">
            <div class="navbar-admin-tabs-bloc navbar-admin-home" {% if active_page == "dashboard" %} aria-current="page" {% endif %}>
                <p> <iconify-icon icon="fluent:home-32-filled" width="15" height="15"></iconify-icon></p>
            </div>
            <div class="navbar-admin-tabs-bloc navbar-admin-Utilisateurs" {% if active_page == "Utilisateurs" %} aria-current="page" {% endif %}>
                <p>Utilisateurs</p>
            </div>
            <div class="navbar-admin-tabs-bloc navbar-admin-Agents" {% if active_page == "Agents" %} aria-current="page" {% endif %}>
                <p>Agents</p>
            </div>
            <div class="navbar-admin-tabs-bloc navbar-admin-Verification" {% if active_page == "Verification" %} aria-current="page" {% endif %}>
                <p>Vérification</p>
            </div>
        </div>
    </div>
    <div class="user-infos">
        <div class="card user-infos-stats">
            <div class="stats-user">
                <div class="stats-user-nom">
                    NB Users
                </div>
                <div class="stats-user-number">
                    96
                </div>
            </div>
            <div class="stats-user">
                <div class="stats-user-nom">
                    NB Users admin
                </div>
                <div class="stats-user-number">
                    14
                </div>
            </div>
        </div>
        <div class="card admin-infos-create">
            <h2>Créer / Éditer</h2>
            <form method="post" >
                {% csrf_token %}
                <h3>Nom</h3>
                <input type="text" name="nom" id="nom" placeholder="Nom">
                <h3>Prenom</h3>
                <input type="text" name="prenom" id="prenom" placeholder="Prenom">
                <h3>ID</h3>
                <input type="text" name="id" id="id" placeholder="ID">
                <h3>Statut</h3>
                <input type="text" name="statut" id="statut" placeholder="Statut">
                <button type="submit">Créer / Éditer</button>
            </form>
        </div>
    </div>
    <div class=" card user-table">
        <h2>Alertes</h2>
        <hr>
        <table class="table">
            <thead>
            <tr>
                <th class="align-left" scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">ID</th>
                <th scope="col">Statut</th>
                <th scope="col">Edit</th>
            </tr>
            </thead>
        </table>
    </div>
</div>

{% endblock %}