{% extends "base.html" %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'login/login.css' %}">
 <script src="{% static 'login/login.js' %}"></script>
{% endblock %}
 {% block title %}HIDS{% endblock %}
{% block content %}
    <div class="connexion-grid-container">
        <div class="connexion-card">
            <div class="connexion-logo">
                <img src="{% static 'images/logo.png' %}" alt="logo">
                <p>TELOCA AI</p>
            </div>
            <form class="connexion-form" method="post" action="{% url 'login' %}">
                <p>Connexion</p>
                <div class="connexion-form-input">
                    <p>Identifiant</p>
                    {% csrf_token %}
                    <div class="password_input_container">
                        {{ form.username }}
                    </div>
                </div>
                <div class="connexion-form-input">
                    <p>Mot de passe</p>
                    <div class="password_input_container">
                        {{ form.password }}
                        <button id="toggle-button" type="button" onclick="toggle()">
                            <iconify-icon icon="fluent:eye-32-filled" width="17.5" height="17.5"></iconify-icon>
                        </button>
                    </div>
                </div>
                <button class="connexion-form-submit" type="submit">
                    Connexion
                </button>
                        <!-- Affichage des messages d'erreur -->
        {% if messages %}
            <div class="error-messages">
                {% for message in messages %}
                    <p style="color: red;">{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
