:root {
    --background-color: rgb(232, 230, 230);
    --primary-color: #fcfcfc;
    --on-primary-color: rgb(74, 74, 74);
    --secondary-color: #f0f0f0;
    --on-secondary-color: rgb(41, 41, 41);

    --blue-color: #3585F9;
    --dark-blue-color: #1E5EBC;
    --red-color: rgb(241, 70, 70);

    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--background-color);
    margin: 0;
}

.card {
    background-color: var(--primary-color);
    color: var(--on-primary-color);
    border-radius: 10px;
    padding: 16px;

    display: flex;
    flex-direction: column;
}
.card h2 {
    font-weight: 400;
    font-size: 1.5em;
    margin: 0;
}
.align-bottom-card {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart {
    width: 100% !important;
    height: max(150px, 30vh) !important;
}

.align-left {
    text-align: left;
}