{% load static %}
{% with active_page=request.resolver_match.url_name %}
    <nav>
        <div class="navbar-logo">
            <img src="{% static 'images/logo.png' %}" alt="Logo">
            <p>TELOCA AI</p>
        </div>
        <div class="navbar-bar">  </div>
        <div class="navbar-tabs">
            <a href="{% url 'dashboard' %}" class="navbar-tabs-bloc" {% if active_page == "dashboard" %} aria-current="page" {% endif %}>
                <p>Dashboard</p>
            </a>
            <a href="{% url 'alerts' %}" class="navbar-tabs-bloc" {% if active_page == "alerts" %} aria-current="page" {% endif %}>
                <p>Alertes</p>
            </a>
            <a href="#" class="navbar-tabs-bloc" {% if active_page == "admin" %} aria-current="page" {% endif %}>
                <p>Admin</p>
            </a>
        </div>
        <div class="navbar-icon">
            <img src="{% static 'images/photo-profile.jpg' %}" alt="photo-profile">

        </div>
        <div class="navbar-burger">
            <iconify-icon icon="fluent:line-horizontal-3-16-filled" width="35" height="35"></iconify-icon>
        </div>

        <div class="dropdown-menu">
            <a href="{% url 'dashboard' %}" class="navbar-tabs-bloc-crop" {% if active_page == "dashboard" %} aria-current="page" {% endif %}>Dashboard</a>
            <a href="{% url 'alerts' %}" class="navbar-tabs-bloc-crop" {% if active_page == "alerts" %} aria-current="page" {% endif %}>Alertes</a>
            <a href="#" class="navbar-tabs-bloc-crop" {% if active_page == "admin" %} aria-current="page" {% endif %}>Admin</a>
            <a href="{% url 'info' %}" {% if active_page == "information" %} aria-current="page" {% endif %}>Informations</a>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                    <button {% if active_page == "logout" %} aria-current="page" {% endif %}>Déconexion <iconify-icon icon="fluent:sign-out-24-filled" width="24" height="24"></iconify-icon> </button>
            </form>

        </div>
    </nav>
{% endwith %}
