{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'dashboard/common.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
    <script src="{% static 'dashboard/charts.js' %}" defer></script>
    {{ chart.alert_evolution|json_script:"alert-evolution-data" }}
    {{ chart.alert_type|json_script:"alert-type-data" }}
    {{ chart.ia_stats|json_script:"ia-data" }}
    {{ chart.agent_stats|json_script:"agent-data" }}
</head>
<body>
    <div class="grid-container">
        <div class="card" id="summary">
            <div class="stats">
                <h2> Total </h2>
                <span> {{ alerts_number }} </span>
            </div>
            <div class="stats">
                <h2> NB Agents </h2>
                <span> {{ agents_number }} </span>
            </div>
            <div class="stats">
                <h2> Downs </h2>
                <span> {{ agents_down_number }} </span>
            </div>
        </div>
        <div class="card" id="alert-evolution">
            <h2>Evolution des alertes</h2>
            <hr>
            <div class="align-bottom">
                <canvas class="chart" id="alert-evolution-chart"></canvas>
            </div>
        </div>
        <div class="card" id="alert-type">
            <h2>Types d'attaques</h2>
            <hr>
            <div class="align-bottom">
                <canvas class="chart" id="alert-type-chart"></canvas>
            </div>
        </div>
        <div class="card" id="ia-stats">
            <h2>IA</h2>
            <hr>
            <div class="align-bottom">
                <canvas class="chart" id="ia-stats-chart"></canvas>
            </div>
        </div>
        <div class="card" id="agent-stats">
            <h2>Agents Principaux</h2>
            <hr>
            <div class="align-bottom">
                <canvas class="chart" id="agent-chart"></canvas>
            </div>
        </div>
        <div class="card" id="alerts">
            <h2>Dernières Alertes</h2>
            <table>
                <thead>
                    <tr>
                        <th scope="col">Time</th>
                        <th scope="col">Agent</th>
                        <th scope="col">Agent Name</th>
                        <th scope="col">Detection</th>
                        <th scope="col">Tactic</th>
                        <th scope="col">Description</th>
                        <th scope="col">Level</th>
                        <th scope="col">ID</th>
                    </tr>
                </thead>
                <tbody>
                    {% for alert in alerts %}
                        <td>{{ alert.time }}</td>
                        <td>{{ alert.agent.id }}</td>
                        <td>{{ alert.agent.name }}</td>
                        <td>{{ alert.source }}</td>
                        <td>{{ alert.type }}</td>
                        <td>{{ alert.description }}</td>
                        <td>{{ alert.level }}</td>
                        <td>{{ alert.id }}</td>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>